<nav id="#topnavbar" class="navbar navbar-expand-md navbar-dark bg-dark">
	<a class="navbar-brand" href="#">saswaf</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/soundcheck">Soundcheck</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/chat">Chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/screen">Screen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/audience">Audience</a>
      </li>
    </ul>
  </div>
</nav>