<html lang="en">

<head>
	<% include ../partials/header.ejs %>
</head>

<body>
	<% include ../partials/navbar.ejs %>
	<main role="main" class="container">

		<div class="starter-template">
			<h1>share a screen with a friend</h1>
		</div>
		<div>
			<p>
				Share a Screen With a Friend
				<br><br>
				Need to quickly share your screen with someone, complete with high-quality desktop audio support? You've
				come to the right place!
				<br><br>
				Too many screensharing apps treat video as second class content in favor of bandwidth savings. Some
				platforms are great for broadcasting your screen out to the world, but require you to download, install, and
				configure software to set it all up. Even if you know how, do you really want to have to start that up every time
				you want to quickly share your screen?
				<br><br>
				Saswaf is your solution. Let the video calling or chat apps handle the conversation, and saswaf can serve your 
				guests the smooth, high quality video they deserve. Saswaf screen sharing is encrpyted using Datagram Transport Layer Security (DTLS) 
				and there is no server in the middle opening your content.
				<br><br>
				Get Started<br>
				1. Go to the host tab<br>
				2. Select Start<br>
				3. Select a screen (and enable desktop audio sharing, if desired)<br>
				4. Select Share.<br>
				5. Share the link with a friend!<br>
				<br>
				Saswaf's front end has just 3 dependencies: jQuery, popper.js, and Bootstrap!
				<br><br>
				The screen and audio sharing is built on the WebRTC library.
				<br><br>
				To promote more people learning about and understanding WebRTC, the javascript for both the Host page
				and Watch page is self contained - no confusing shared files or abstractions. See how a viewer arrives at a page,
				obtains a STUN/TURN credential, messages a host, and receives media all on one page in a functional layout.
			</p>
		</div>
	</main>
	<% include ../partials/footer.ejs %>
</body>

</html>