<html lang="en">

<head>
	<% include ../partials/header.ejs %>
</head>

<body class="dark-mode">
	<% include ../partials/navbar.ejs %>
	<main role="main" class="container ">
		<br>
		<div class="jumbotron">
			<h1 class="display-4">share a screen with a friend</h1>
			<p class="lead">A simple, link-based, one-to-many screen sharing solution with stereo desktop audio.</p>
			<hr class="my-4">
			<p>No sign up, no special codes, sub-second latency. Built with your browser's native functionality. Start sharing and give your friend the link.</p>
			<a class="btn btn-primary btn-lg" href="/host" role="button">Start Sharing</a>
		  </div>
		  <br>
		<div class="starter-template">
			<h1><span id="nameBox">What is <a id="saswaf-c1">s</a><a id="saswaf-c2">a</a><a id="saswaf-c3">s</a><a id="saswaf-c4">w</a><a id="saswaf-c5">a</a><a id="saswaf-c6">f</a>?</span></h1>
		</div>
		<div>
			<p>
				<br>
				Need to quickly share your screen with someone, complete with high-quality desktop audio support? You've
				come to the right place!
				<br><br>
				Too many screensharing apps treat video as second class content in favor of bandwidth savings. Some
				platforms are great for broadcasting your screen out to the world, but require you to download, install, and
				configure software to set it all up. Even if you know how, do you really want to have to start that up every time
				you want to quickly share your screen?
				<br><br>
				Saswaf is your solution. Let the video calling or chat apps handle the conversation, and saswaf can serve your 
				guests the smooth, high quality video they deserve. While, like many platforms, end-end encryption is not guaranteed, Saswaf screen sharing is encrpyted using Datagram Transport Layer Security (DTLS) 
				and there is no server in the middle opening your content.
				<br><br>
				Get Started<br>
				1. Go to the <a href="/host">Host tab</a><br>
				2. Select Start<br>
				3. Select a screen (and enable desktop audio sharing, if desired)<br>
				4. Select Share.<br>
				5. Share the link with a friend!<br>
				<br>
				Saswaf's front end has just 3 dependencies: jQuery, popper.js, and Bootstrap!
				<br><br>
				The screen and audio sharing is built on the WebRTC library.
				<br><br>
				To promote more people learning about and understanding WebRTC, the javascript for both the Host page
				and Watch page is self contained - no confusing shared files or abstractions. See how a viewer arrives at a page,
				obtains a STUN/TURN credential, messages a host, and receives media all on one page in a functional layout.
				<br><br>
				Want to run it yourself? Check out <a href="https://github.com/robertianburton/saswaf">saswaf on Github</a>!
			</p>
		</div>

	</main>
	<% include ../partials/footer.ejs %>
</body>

</html>