<html lang="en">
	<head>
		<% include ../partials/header.ejs %>
		<link rel="stylesheet" type="text/css" href="/stylesheets/soundcheck.css" />

	</head>
	<body>
		<% include ../partials/navbar.ejs %>
		<main role="main" class="container">

			<div class="d-flex justify-content-center" id="buttonBar">
				<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
					<div class="btn-group mx-2" role="group" aria-label="Video Configuration">
						<button type="button" class="btn btn-primary" id="buttonVideoStart">Start Video</button>
						<button type="button" class="btn btn-primary" id="buttonVideoEnd">End Video</button>
					</div>
					<div class="btn-group mx-2" role="group" aria-label="Video Window Sizes">
						<button type="button" class="btn btn-primary" id="buttonVideoSizeResponsive">Responsive</button>
						<button type="button" class="btn btn-primary" id="buttonVideoSizeSource">Source Scale</button>
						<button type="button" class="btn btn-primary" id="buttonVideoSizePage">Page Scale</button>
					</div>
				</div>
			</div>
			<br>
			<div class="d-flex justify-content-center">
				<video id="videoElem" autoplay></video>
			</div>

		</main>
		<% include ../partials/footer.ejs %>
		<script src="/js/soundcheck.js"></script>
	</body>
</html>