<html lang="en">
	<head>
		<% include ../partials/header.ejs %>
	</head>
	<body>
		<% include ../partials/navbar.ejs %>
		<main role="main" class="container">

		  <div class="starter-template">
		    <h1>Share A Screen With A Friend</h1>
		    <p class="lead">Right in the title.<br> Give it a go.</p>
		  </div>

		</main>
		<% include ../partials/footer.ejs %>
	</body>
</html>