<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/header.ejs %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/watch.css" />
</head>

<body>
    <% include ../partials/navbar.ejs %>
    <main role="main" class="container">
        <br>
        <div class="d-flex justify-content-center">
            <video id="videoRemoteElem" autoplay muted controls></video>
        </div>
        <div class="d-flex justify-content-center">
            <p>Host</p>
            <div id="hostIdField"></div>
        </div>
        <div class="d-flex justify-content-center">
            <p>Your ID</p>
            <div id="userIdField"></div>
        </div>





        <div class="d-flex justify-content-center" id="buttonBar">
			<div class="btn-group mx-2">
				<a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Player Size
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" href="#" id="buttonVideoSizeResponsive">Responsive</a>
					<a class="dropdown-item" href="#" id="buttonVideoSizeSource">Source Size</a>
					<a class="dropdown-item" href="#" id="buttonVideoSizePage">Page Width</a>
				</div>
            </div>
            <div class="btn-group mx-2" role="group" aria-label="Video Window Sizes">
                <button type="button" class="btn btn-primary" id="buttonLogConnection">Log Connection</button>
            </div>
            <div class="btn-group mx-2" role="group" aria-label="Get Audio Outputs">
                <button type="button" class="btn btn-primary" id="buttonAudioOutputs">Get Audio Outputs</button>
            </div>
		</div>

        <br>
        <div class="d-flex justify-content-center">
            <div class="btn-group mx-2" role="group" aria-label="Audio Output Devices">
                <select name="audioOutputName" id="audioOutput"
                    class="form-control dropdown-select btn btn-secondary btn-sm">
                    <option value="" disabled selected hidden>Audio Output Device</option>
                </select>
            </div>
        </div>
        <br>
    </main>
    <% include ../partials/footer.ejs %>
    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="/js/watch.js"></script>
</body>

</html>